@{
    ViewBag.Title = "Contacto";
}


<div class="container-fluid mt-5">
    <div class="card mb-4 wow fadeIn">
        <div class="card-body d-sm-flex justify-content-between">
            <h4 class="mb-2 mb-sm-0 pt-1">
                <span>Inicio</span>
                <span>/</span>
                <a href="#">@ViewBag.Title</a>
            </h4>
        </div>
    </div>

    <div class="card mb-4 wow fadeIn">
        <div class="card-body">

            <h3>@ViewBag.Message</h3>
            <br />

            <address>
                Guatemala<br />
                Ciudad de Guatemala<br />
                <abbr title="Teléfono">T:</abbr>
                0000-000-0
            </address>

            <address>
                <strong>Soporte:</strong>   <a href="mailto:bralecastropez@gmail.com">soporte@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:bralecastropez@gmail.com">marketing@example.com</a>
            </address>
        </div>
    </div>
</div>